:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;

  --mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--mono);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
  }
}

body {
  margin: 0;
}

main {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  box-sizing: border-box;

  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 2rem;

  @media (max-width: 1024px) {
    padding: 1rem 0 0;
    border-inline: none;
  }
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
  line-height: 1.5;
}

h1 {
  font-size: 36px;
  line-height: 1;
  margin: 0;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 24px;
  margin-bottom: 1rem;
}

header {
  >div {
    display: flex;
    justify-content: space-between;

    margin: 0 40px;
  }
}

section {
  div {
    margin: 2rem 0;
  }

  h2 {
    margin-left: 12px;
  }

  p {
    margin-left: 40px;
    margin-right: 40px;
  }

  h3 {
    margin: 0 0 0.5rem 6px;
    color: var(--text-h);
  }

  h4 {
    margin: 0 0 0.5rem 40px;
  }

  .stats {
    margin-top: 3rem;
  }

  .deploy-stats {
    display: flex;
    flex-direction: row-reverse;

    margin-right: 40px;
  }
}

ul {
  li {
    list-style: "> ";
    margin-bottom: 4px;
  }
}

a,
button {
  color: inherit;
  transition: opacity 0.2s ease;
  padding: 4px;
  border: none;
  background: none;
  text-decoration: underline;
  font-size: inherit;

  &:hover {
    opacity: 0.7;
    background-color: var(--social-bg);
  }

  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}