<header>
    <div>
        <div>
            <h1>Francesco Agnoletto</h1>
            <p>Lead Frontend Engineer building data-intensive web applications and scalable user interfaces.</p>
        </div>
        <ul>
            <li>
                <a href="https://github.com/francesco-agnoletto/" target="_blank" rel="noopener noreferrer"
                    aria-label="Visit my GitHub profile">github</a>
            </li>
            <li>
                <a href="https://linkedin.com/in/francesco-agnoletto-176171114/" target="_blank"
                    rel="noopener noreferrer" aria-label="Visit my LinkedIn profile">linkedin</a>
            </li>
        </ul>
    </div>
</header>